.user-settings-password__header {
  position: relative;
}

.user-settings-password__header h2 {
  font-weight: 300;
  font-size: 15px;
  color: #e7e7e7;
  padding: 20px 30px 15px 20px;
}

.user-settings-password__header::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: red;
}

.user-settings-password__form {
  padding: 17px 20px 30px;
}

.user-settings-password__form--password {
  position: relative;
}

.user-settings-password__form--password input {
  width: 300px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.user-settings-password__form--password input:valid ~ label,
.user-settings-password__form--password input:focus ~ label {
  top: -18px;
}

.user-settings-password__form--password label {
  position: absolute;
  left: 5px;
  top: 13px;
  font-size: 13px;
  transition: 0.5s ease-in-out;
}

.user-settings-password__form--btn {
  width: 120px;
  height: 35px;
  margin: 20px 0;
  font-family: "Jetbrains Mono";
  font-size: 13px;
  cursor: pointer;
}
