@import "../../config";

.user-settings-password{
  
  &__header{
    & h2{
      font-weight: $fontWeightLight;
      font-size: $fontSizeSmall;
      color: $darkThemeTextFade;

      padding: 20px 30px 15px 20px;
    }

    position: relative;

    &::before{
      content: '';
      display: block;
      position: absolute;

      width: 100%;
      height: 1px;

      background-color: red;
    }
  }

  &__form{
    padding: 17px 20px 30px;
    
    &--password {
      position: relative;
      & input{

        width: 300px;
        height: 30px;
        
        padding: 5px;
        
        background-color: transparent ;
        color: white;
        
        border: 1px solid white;

        &:valid ~ label,
        &:focus ~ label{
          top: -18px;
        }
      }

      & label{
        position: absolute;
        left: 5px;
        top: 13px;

        font-size: 13px;

        transition: 0.5s ease-in-out;
      }
    }

    &--btn{
      width: 120px;
      height: 35px;

      margin: 20px 0;

      font-family: $fontMain;
      font-size: 13px;

      cursor: pointer;
    }
  }
}