@import '../config';

.platform{
  width: 100%;
  background-color: $darkThemeBackground;
  color: white;
  font-family: $fontMain;

  min-height: calc(100vh - 80px);

  &__container{
    width: 90%;
    margin: auto;
    padding: 20px 0 40px;
  }

  & span{
    background: -webkit-linear-gradient(45deg, #18e976, #2a3bd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-left: 15px;
  }
}