.home {
  background-color: #151618;
  min-height: calc(100vh - 80px);
}

.home.light {
  background-color: #e2d7d7;
}

.home__container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 50px;
}

.home-post {
  padding: 20px 0;
}

.home-post:first-child {
  padding: 0 0 20px;
}
