@import '../config';

.home{
  background-color: $darkThemeBackground;
  min-height: calc(100vh - 80px);

  &.light{
    background-color: $lightThemeBackground;
  }

  &__container{
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;
  }
}


.home-post{

  padding: 20px 0;

  &:first-child{
    padding: 0 0 20px;
  }
}
