$fontMain:"Jetbrains Mono";
$fontSecondary: "Nunito";

$lightTheme: #ffffff;
$darkTheme: #242629;

$darkThemeBackground: #151618;
$lightThemeBackground: #efefef;

$darkThemeText: #ffffff;
$lightThemeText: black;

$darkThemeTextFade: #e7e7e7;

$fontWeightLight: 300;
$fontWeightMedium: 400;
$fontWeightHeavy: 700;

$fontSizeSmall: 15px;
$fontSizeMedium: 22px;
$fontSizeLarge: 28px