.user-profile-aside {
  background-color: #242629;
  color: #ffffff;
  font-family: "Jetbrains Mono";
  width: 250px;
  position: sticky;
  top: 100px;
}

.user-profile-aside__container {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 0 60px;
}

.user-profile-aside__container img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-profile-aside__container__name {
  margin: 10px 0 20px;
}

.user-profile-aside__container__bio {
  color: #e7e7e7;
}
